root-font-size = 14px
root-line-height = 1.5

h1 {
    color: gold
    type-set(20px, 2)
    background-color: pink
}

@media (min-width: 500px) {
    root-font-size = 16px
    root-line-height = 2.2

    h1 {
        color: pink
        type-set(25px, 1)
        background-color: gold
    }
}