h1 {
  font-size: 2rem;
  line-height: 30;
  top: 60rem;
  bottom: 12rem;
}
@media (min-width: 100px) {
  h2 {
    font-size: 1.5rem;
    line-height: 0.666666666666667;
    width: 1rem;
  }
}
h5 {
  top: 60rem;
  bottom: 12rem;
}
