root-font-size = 14px
root-line-height = 1.5

h1 {
    type-set: 20px 5
    type-set: 20px

    top: vr(5)
    bottom: vr()
}

// h1 {
//     color: gold
//     type-set: 20px
//     background-color: pink
//     margin: vr(1) vr(2)
// }

// @media (min-width: 500px) {
//     root-font-size = 16px
//     root-line-height = 2.2

//     h1 {
//         color: pink
//         type-set: 25px 3
//         background-color: gold
//         margin: vr(1) vr(2)
//     }
// }