h1 {
  color: #ffd700;
  font-size: 1.428571428571429rem;
  line-height: 2.1rem;
  background-color: #ffc0cb;
  margin: 105rem 63rem;
}
@media (min-width: 500px) {
  h1 {
    color: #ffc0cb;
    font-size: 1.5625rem;
    line-height: 1.408rem;
    background-color: #ffd700;
    margin: 176rem 105.60000000000001rem;
  }
}
